<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Theme/img/logo/logo.png" rel="icon">
    <title>RuangAdmin - Dashboard</title>
    <link href="~/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="~/Theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Theme/css/ruang-admin.css" rel="stylesheet">
</head>


<body id="page-top">

    @Html.Partial("~/Views/Shared/Admin/Partial/_Sidebar.cshtml")




    @Html.Partial("~/Views/Shared/Admin/Partial/_Navbar.cshtml")



    <!-- Container Fluid-->
    <div class="container-fluid" id="container-wrapper">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="./">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                <!-- Semua Konten Masuk Kedalan ini-->
                @RenderBody()
            </main>
        </div>

    </div>
    <!---Container Fluid-->
    </div>


    @Html.Partial("~/Views/Shared/Admin/Partial/_Footer.cshtml")




</body>

</html>