

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container text-center">
        <p class="mb-md-0 text-center text-dark">
            &copy; <a class="text-dark font-weight-semi-bold" href="#">Made by Group <span class="text-primary">8</span> D3 TI 22 with all we heart <span style="color: red;">❤️</span></a>
        </p>
    </div>
</footer>
<!-- Footer -->
        </div>
    </div>

<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script src="~/Theme/vendor/jquery/jquery.min.js"></script>
<script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="~/Theme/js/ruang-admin.min.js"></script>
<script src="~/Theme/vendor/chart.js/Chart.min.js"></script>
<script src="~/Theme/js/demo/chart-area-demo.js"></script>



