@using Microsoft.AspNetCore.Identity
@using TernakSepatu.Areas.Identity.Data

@{
    var user = User.Identity.IsAuthenticated ? await UserManager.FindByNameAsync(User.Identity.Name) : null;
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!-- TopBar -->
<nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <ul class="navbar-nav ml-auto">
        
     
        <div class="topbar-divider d-none d-sm-block"></div>
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                @if (!SignInManager.IsSignedIn(User))
                {
                    <span class="ml-2 d-none d-lg-inline text-white small">
                        Admin
                    </span>
                }
                else if (user != null)
                {
                    <span class="ml-2 d-none d-lg-inline text-white small">
                        Hello @user.FirstName!
                    </span>

                }
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <div class="dropdown-divider"></div>
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <a class="dropdown-item logout-btn" href="#" id="logoutBtn">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </form>
        </li>
    </ul>
</nav>
<!-- Topbar -->


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var logoutBtn = document.querySelector(".logout-btn");

        logoutBtn.addEventListener("click", function (event) {
            event.preventDefault();
            document.getElementById("logoutForm").submit();
        });
    });
</script>
