@model List<TernakSepatu.Models.PaymentQrMethod>

@{
    ViewData["Title"] = "Payment QR Methods";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";

}


<h1>Payment QR Methods</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var qrMethod in Model)
        {
            <tr>
                <td>@qrMethod.Id</td>
                <td>@qrMethod.Name</td>
                <td><img src="/Images/QrPayment/@qrMethod.ImageUrl" width="100" /></td>
            </tr>
        }
    </tbody>
</table>
